body {
  background: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-weight: 300; }

h1 {
  font-family: "Abril Fatface", cursive;
  font-size: 34px;
  letter-spacing: 3px; }

h2 {
  font-family: "Abril Fatface", cursive;
  font-size: 32px;
  letter-spacing: 2.5px; }

h3 {
  font-size: 22px; }

h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 500; }

p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300; }

.initial {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 4;
  width: 100%;
  height: 100vh;
  background-image: url("../img/intro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: all 1.5s; }
  .initial img {
    width: 150px; }

.home {
  width: 100%;
  height: 100vh;
  background-image: url("../img/home.png");
  background-repeat: no-repeat;
  background-size: cover; }

header .nav {
  width: 100%;
  height: 100px;
  padding: 0px 40px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3; }
  header .nav .valor-logo img {
    width: 250px; }
  header .nav .nav-toggle {
    min-width: 35px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center; }
    header .nav .nav-toggle span {
      position: relative; }
    header .nav .nav-toggle span, header .nav .nav-toggle span:before, header .nav .nav-toggle span:after {
      width: 35px;
      height: 2px;
      background: #FFFFFF;
      transition: .5s;
      box-shadow: 2px 2px 2px rgba(30, 30, 30, 0.5); }
    header .nav .nav-toggle span:before {
      content: '';
      position: absolute;
      top: -10px; }
    header .nav .nav-toggle span:after {
      content: '';
      position: absolute;
      top: 10px; }
  header .nav .active span {
    background: transparent;
    box-shadow: 2px 2px 2px rgba(30, 30, 30, 0); }
    header .nav .active span:before {
      top: 0;
      transform: rotate(45deg); }
    header .nav .active span:after {
      top: 0;
      transform: rotate(-45deg); }

.sidebar {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #A00D0D;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
  z-index: 2; }
  .sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    position: relative; }
    .sidebar ul li {
      margin: 20px 0px;
      transform: scale(1);
      transition: .5s; }
      .sidebar ul li a {
        color: #FFFFFF;
        text-decoration: none;
        transition: .5s;
        padding: 4px 0px; }
      .sidebar ul li:hover {
        transform: scale(1.5); }

.sidebar.active {
  top: 0; }

.hr-title {
  width: 70px;
  height: 3px;
  background: #A00D0D;
  margin-left: 0%;
  margin-right: 50%; }

.hr-content {
  width: 60px;
  height: 2px;
  margin-left: 0%;
  margin-right: 50%; }

footer {
  padding-top: 4rem;
  padding-bottom: 1rem;
  color: #636363; }
  footer .w-hr {
    margin: 2rem 0;
    border-top: 1px solid #B3B3B3; }
  footer .body-footer .col-footer {
    display: flex;
    justify-content: center; }
    footer .body-footer .col-footer .content-footer .sub-footer {
      font-size: 20px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 3px;
      margin-bottom: 3rem;
      text-align: center; }
    footer .body-footer .col-footer .content-footer p {
      font-size: 14px;
      color: #B3B3B3; }
    footer .body-footer .col-footer .content-footer .social-media {
      display: flex; }
      footer .body-footer .col-footer .content-footer .social-media .social-container {
        width: 46px;
        height: 46px;
        margin: 0px 10px;
        background: #A00D0D;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center; }
        footer .body-footer .col-footer .content-footer .social-media .social-container .icon {
          max-width: 20px;
          max-height: 20px; }
  footer .nav-footer {
    display: flex;
    justify-content: center;
    padding: 2rem 0; }
    footer .nav-footer .iso-footer {
      width: 60px;
      margin-bottom: 3rem; }
    footer .nav-footer .nav-footer-items {
      display: flex;
      justify-content: center; }
      footer .nav-footer .nav-footer-items a {
        color: #636363;
        margin: 0 1.5rem;
        font-size: 18px;
        font-weight: 500;
        transition: all .5s; }
      footer .nav-footer .nav-footer-items a:hover {
        color: #762124;
        text-decoration: none; }
  footer .powered {
    text-align: right; }

.footer-black {
  background: #1E1E1E; }
  .footer-black h4, .footer-black footer .nav-footer-items a {
    color: #B3B3B3; }
  .footer-black footer .body-footer .col-footer .content-footer p {
    color: #636363; }

.nav-red {
  background: #A00D0D; }

.quienes-somos, .politica {
  padding-top: 60px;
  padding-bottom: 60px; }
  .quienes-somos .title, .politica .title {
    margin-bottom: 20px; }
    .quienes-somos .title h1, .politica .title h1 {
      color: #A00D0D; }
    .quienes-somos .title .hr-title, .politica .title .hr-title {
      background: #A00D0D; }
  .quienes-somos .content, .politica .content {
    margin: 30px 0px; }
    .quienes-somos .content h3, .politica .content h3 {
      text-transform: uppercase;
      color: #A00D0D;
      margin-bottom: 30px; }
    .quienes-somos .content .hr-content, .politica .content .hr-content {
      background: #A00D0D;
      margin-top: 70px; }

.quienes-somos {
  padding-top: 180px; }
  .quienes-somos .content {
    margin-top: 30px;
    margin-bottom: 0; }
    .quienes-somos .content p {
      margin: 0; }

.logos {
  text-align: center;
  padding: 60px 0; }
  .logos .logo-valor {
    width: 450px;
    margin-bottom: 4rem; }
  .logos .title {
    opacity: .4;
    margin-top: 2rem; }
    .logos .title h2 {
      font-family: "Poppins", sans-serif;
      font-size: 1.5rem;
      letter-spacing: 1px; }
  .logos .owl-logos-one, .logos .owl-logos-two {
    margin-bottom: 1rem; }
    .logos .owl-logos-one .item .cont-img img, .logos .owl-logos-two .item .cont-img img {
      margin: 0 auto;
      opacity: .4;
      width: 200px;
      height: auto; }
    .logos .owl-logos-one .owl-nav, .logos .owl-logos-two .owl-nav {
      position: relative;
      bottom: 150px; }
      .logos .owl-logos-one .owl-nav .owl-prev, .logos .owl-logos-one .owl-nav .owl-next, .logos .owl-logos-two .owl-nav .owl-prev, .logos .owl-logos-two .owl-nav .owl-next {
        position: absolute; }
        .logos .owl-logos-one .owl-nav .owl-prev:focus, .logos .owl-logos-one .owl-nav .owl-next:focus, .logos .owl-logos-two .owl-nav .owl-prev:focus, .logos .owl-logos-two .owl-nav .owl-next:focus {
          outline: none; }
        .logos .owl-logos-one .owl-nav .owl-prev span, .logos .owl-logos-one .owl-nav .owl-next span, .logos .owl-logos-two .owl-nav .owl-prev span, .logos .owl-logos-two .owl-nav .owl-next span {
          font-size: 80px;
          color: #636363; }
      .logos .owl-logos-one .owl-nav .owl-prev, .logos .owl-logos-two .owl-nav .owl-prev {
        left: 0; }
      .logos .owl-logos-one .owl-nav .owl-next, .logos .owl-logos-two .owl-nav .owl-next {
        right: 0; }
    .logos .owl-logos-one .owl-dots, .logos .owl-logos-two .owl-dots {
      margin-top: 2rem;
      text-align: center;
      font-weight: 500; }
      .logos .owl-logos-one .owl-dots button, .logos .owl-logos-two .owl-dots button {
        background: #636363;
        border-radius: 50%;
        width: 13px;
        height: 13px;
        margin: 0 8px;
        opacity: .5;
        transition: all .5s; }
        .logos .owl-logos-one .owl-dots button.active, .logos .owl-logos-one .owl-dots button:hover, .logos .owl-logos-two .owl-dots button.active, .logos .owl-logos-two .owl-dots button:hover {
          opacity: 1; }
        .logos .owl-logos-one .owl-dots button:focus, .logos .owl-logos-two .owl-dots button:focus {
          outline: 0; }

.equipo {
  background: #A00D0D; }
  .equipo .title {
    color: #FFFFFF;
    padding: 5rem 0; }
    .equipo .title hr {
      background: #FFFFFF; }
  .equipo .team-photo {
    text-align: center; }
  .equipo .item {
    padding: 0 5rem; }
  .equipo .team-text {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .equipo .team-text h2 {
      font-size: 26px;
      margin-bottom: 1.5rem; }
    .equipo .team-text .hr-content {
      background: #FFFFFF;
      margin: 2rem 0; }
    .equipo .team-text .firma {
      margin-top: 2rem;
      margin-right: 2rem;
      max-width: 200px;
      max-height: 150px;
      align-self: flex-end; }

.historia {
  box-sizing: border-box;
  position: relative;
  background: #F5F5F5;
  padding: 5rem 0;
  height: 1000px; }
  .historia .title {
    margin-bottom: 3rem;
    height: 100%; }
    .historia .title h1 {
      color: #A00D0D; }
    .historia .title img {
      width: 60px;
      float: left;
      margin-right: 20px; }
    .historia .title h3 {
      color: #636363; }
  .historia .outer-wrapper {
    width: 100vh;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative; }
    .historia .outer-wrapper .wraper {
      display: flex;
      flex-direction: row;
      width: 300vw;
      height: 100vw;
      transform: rotate(90deg) translateY(-100vh);
      transform-origin: top left; }
      .historia .outer-wrapper .wraper .slide {
        height: 700px;
        width: 100vw; }
        .historia .outer-wrapper .wraper .slide.one {
          background-image: url("../img/Timeline/slide_1.jpg"); }
        .historia .outer-wrapper .wraper .slide.two {
          background-image: url("../img/Timeline/slide_2.jpg"); }
        .historia .outer-wrapper .wraper .slide.three {
          background-image: url("../img/Timeline/slide_3.jpg"); }
        .historia .outer-wrapper .wraper .slide.one, .historia .outer-wrapper .wraper .slide.two, .historia .outer-wrapper .wraper .slide.three {
          background-size: contain;
          background-repeat: no-repeat; }
  .historia .owl-historia .item {
    text-align: center;
    font-size: 14px; }
    .historia .owl-historia .item .bubble, .historia .owl-historia .item .bubble1, .historia .owl-historia .item .bubble2, .historia .owl-historia .item .bubble3 {
      width: 18px;
      height: 18px;
      margin: 0 auto;
      background: #A00D0D;
      border-radius: 50%;
      margin-bottom: 2rem;
      position: relative; }
      .historia .owl-historia .item .bubble:before, .historia .owl-historia .item .bubble::after, .historia .owl-historia .item .bubble1:before, .historia .owl-historia .item .bubble1::after, .historia .owl-historia .item .bubble2:before, .historia .owl-historia .item .bubble2::after, .historia .owl-historia .item .bubble3:before, .historia .owl-historia .item .bubble3::after {
        content: '';
        height: 1px;
        background: #B3B3B3;
        position: absolute;
        top: 50%; }
      .historia .owl-historia .item .bubble:before, .historia .owl-historia .item .bubble1:before, .historia .owl-historia .item .bubble2:before, .historia .owl-historia .item .bubble3:before {
        left: 200%; }
      .historia .owl-historia .item .bubble::after, .historia .owl-historia .item .bubble1::after, .historia .owl-historia .item .bubble2::after, .historia .owl-historia .item .bubble3::after {
        right: 200%; }
    .historia .owl-historia .item .bubble:before, .historia .owl-historia .item .bubble::after {
      width: 3000%; }
    .historia .owl-historia .item .bubble1:before, .historia .owl-historia .item .bubble1::after {
      width: 1500%; }
    .historia .owl-historia .item .bubble2:before, .historia .owl-historia .item .bubble2::after {
      width: 700%; }
    .historia .owl-historia .item .bubble3:before, .historia .owl-historia .item .bubble3::after {
      width: 800%; }
    .historia .owl-historia .item p span {
      font-weight: 500;
      text-transform: uppercase; }
    .historia .owl-historia .item .mutis {
      margin-bottom: 1rem; }
      .historia .owl-historia .item .mutis h4, .historia .owl-historia .item .mutis h5 {
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 700;
        color: #A00D0D; }
      .historia .owl-historia .item .mutis h5 {
        font-size: 20px; }
      .historia .owl-historia .item .mutis p {
        margin: 0; }
  .historia .owl-historia .owl-nav {
    font-size: 80px;
    color: #A00D0D;
    position: relative;
    bottom: 100px; }
    .historia .owl-historia .owl-nav button {
      position: absolute; }
      .historia .owl-historia .owl-nav button:focus {
        outline: 0; }
      .historia .owl-historia .owl-nav button.owl-prev {
        left: -6%; }
      .historia .owl-historia .owl-nav button.owl-next {
        right: -6%; }
  .historia .owl-historia .owl-dots {
    margin-top: 3rem;
    text-align: center;
    font-weight: 500; }
    .historia .owl-historia .owl-dots button {
      width: 150px;
      height: 30px;
      margin: 0 5px;
      color: #636363;
      transition: all .5s; }
      .historia .owl-historia .owl-dots button.active {
        color: #A00D0D; }
      .historia .owl-historia .owl-dots button:focus {
        outline: 0; }
    .historia .owl-historia .owl-dots button:nth-child(1):before {
      content: '1984 - 1990'; }
    .historia .owl-historia .owl-dots button:nth-child(2):before {
      content: '1990 - 2000'; }
    .historia .owl-historia .owl-dots button:nth-child(3):before {
      content: '2000 - 2010'; }
    .historia .owl-historia .owl-dots button:nth-child(4):before {
      content: '2010 - 2015'; }
    .historia .owl-historia .owl-dots button:nth-child(5):before {
      content: '2015 - 2018'; }
    .historia .owl-historia .owl-dots button:nth-child(6):before {
      content: '2018 - Actualidad'; }

.indices {
  background: #F5F5F5;
  padding: 5rem 0;
  text-align: center;
  text-transform: uppercase;
  z-index: 1; }
  .indices .title {
    margin-bottom: 3rem;
    height: 100%; }
    .indices .title img {
      width: 60px;
      float: left;
      margin-right: 20px; }
    .indices .title h3 {
      text-align: left;
      color: #636363; }
  .indices .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .indices .content img {
      max-height: 100px; }
    .indices .content p {
      font-size: 18px;
      margin: 2rem 0;
      font-weight: 500;
      color: #636363; }
    .indices .content .number {
      font-family: "Abril Fatface", cursive;
      font-size: 40px;
      text-transform: lowercase;
      color: #1E1E1E; }
      .indices .content .number .odometer {
        display: inline-block; }
  .indices .vertLine {
    position: relative; }
    .indices .vertLine::before, .indices .vertLine::after {
      content: '';
      position: absolute;
      width: 2px;
      height: 60%;
      background: #B3B3B3;
      top: 16%; }
    .indices .vertLine::before {
      right: 0; }
    .indices .vertLine::after {
      left: 0; }

/*.valoresCorp{
    z-index: 2;
    background: $red-valor;
    color: #FFFFFF;
    padding: 5rem 0;
    hr{
        background: #FFFFFF;
    }
    .hr-content{
        margin: 2rem 0;
    }
    .content{
        margin-top: 4rem;
        h4{
            font-size: 22px;
            text-transform: uppercase;
        }
    }
}*/
.equipoHumano {
  padding: 5rem 0; }
  .equipoHumano .title {
    margin-bottom: 3rem;
    color: #A00D0D; }
  .equipoHumano .owl-equipoHumano .item img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }
  .equipoHumano .owl-equipoHumano .item p {
    text-align: center;
    font-size: 14px;
    font-weight: 100;
    color: #FFFFFF;
    padding: .5rem;
    background: #A00D0D; }
  .equipoHumano .owl-equipoHumano .owl-nav {
    font-size: 80px;
    color: #A00D0D;
    position: relative;
    bottom: 250px; }
    .equipoHumano .owl-equipoHumano .owl-nav button {
      position: absolute; }
      .equipoHumano .owl-equipoHumano .owl-nav button:focus {
        outline: 0; }
      .equipoHumano .owl-equipoHumano .owl-nav button.owl-prev {
        left: -6%; }
      .equipoHumano .owl-equipoHumano .owl-nav button.owl-next {
        right: -6%; }
  .equipoHumano .owl-equipoHumano .owl-dots {
    margin-top: 1rem;
    text-align: center;
    font-weight: 500; }
    .equipoHumano .owl-equipoHumano .owl-dots button {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      margin: 0 .3rem;
      background: #636363;
      transition: all .5s; }
      .equipoHumano .owl-equipoHumano .owl-dots button.active {
        background: #A00D0D; }
      .equipoHumano .owl-equipoHumano .owl-dots button:focus {
        outline: 0; }

.proyectos {
  padding-top: 180px;
  padding-bottom: 60px; }
  .proyectos .title {
    margin-bottom: 20px; }
    .proyectos .title h1 {
      color: #A00D0D; }
    .proyectos .title .hr-title {
      background: #A00D0D; }

.proyects-cont a {
  color: #fff; }
  .proyects-cont a:hover {
    text-decoration: none; }
.proyects-cont .item {
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  padding: 0rem;
  margin-bottom: .5rem;
  width: 100%;
  transition: 1s;
  z-index: 1; }
  .proyects-cont .item .img-box {
    position: absolute;
    padding: 0 .25rem;
    top: 0;
    left: 0;
    transition: .5s;
    width: 100%;
    height: 100%;
    z-index: 1; }
    .proyects-cont .item .img-box .img {
      background-size: cover;
      filter: grayscale(100%);
      width: 100%;
      height: 100%;
      position: relative;
      transition: .4s; }
  .proyects-cont .item .p-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 4rem;
    z-index: 3; }
    .proyects-cont .item .p-title h3 {
      color: #fff;
      text-transform: uppercase; }
    .proyects-cont .item .p-title .hr-content {
      background: #fff; }
  .proyects-cont .item .content {
    color: #fff;
    padding: 0rem .25rem;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -100%;
    z-index: 2;
    transition: 1s; }
    .proyects-cont .item .content .p-data {
      background: #A00D0Dcc;
      padding: 3.75rem;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end; }
      .proyects-cont .item .content .p-data ul {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-bottom: 1.5rem; }
        .proyects-cont .item .content .p-data ul li {
          margin-bottom: 1.2rem; }
      .proyects-cont .item .content .p-data .link {
        margin: 0 auto;
        color: #fff;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        position: relative; }
        .proyects-cont .item .content .p-data .link::before {
          content: '';
          position: absolute;
          width: 0%;
          height: 2px;
          background: #fff;
          left: 0;
          bottom: 0;
          transition: .5s; }
        .proyects-cont .item .content .p-data .link:hover {
          text-decoration: none; }
          .proyects-cont .item .content .p-data .link:hover::before {
            width: 100%; }
  .proyects-cont .item:hover .content {
    bottom: 0%; }

.back {
  text-align: right; }
  .back a {
    color: #A00D0D;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold; }

.proyects-cont .item .prTitlePd {
  padding: 2rem; }
.proyects-cont .item .content .prContentPd {
  padding: 1.75rem; }
  .proyects-cont .item .content .prContentPd ul {
    margin-bottom: 1rem; }
    .proyects-cont .item .content .prContentPd ul li {
      margin-bottom: .5rem; }
  .proyects-cont .item .content .prContentPd .link {
    margin: 0 auto;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    position: relative; }
    .proyects-cont .item .content .prContentPd .link::before {
      content: '';
      position: absolute;
      width: 0%;
      height: 2px;
      background: #fff;
      left: 0;
      bottom: 0;
      transition: .5s; }
    .proyects-cont .item .content .prContentPd .link:hover {
      text-decoration: none; }
      .proyects-cont .item .content .prContentPd .link:hover::before {
        width: 100%; }
.proyects-cont .item:hover .content {
  bottom: 0%; }

.return, .goWeb {
  position: absolute;
  top: 12%;
  z-index: 10; }
  .return a, .goWeb a {
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: .6;
    transition: .2s; }
    .return a:hover, .goWeb a:hover {
      opacity: 1;
      text-decoration: none; }

.return {
  left: 2%; }

.goWeb {
  right: 2%; }

.cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.owl-project .owl-slide {
  position: relative;
  height: 100vh; }
.owl-project .owl-dots,
.owl-project .owl-nav {
  position: absolute; }
.owl-project .owl-dots {
  width: 100%;
  height: 20px;
  bottom: 10rem;
  left: 0;
  display: flex;
  justify-content: center; }
  .owl-project .owl-dots .owl-dot {
    margin: 0 .5rem;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #fff;
    background: #00000044;
    transition: all 0.2s ease; }
    .owl-project .owl-dots .owl-dot.owl-dot:hover, .owl-project .owl-dots .owl-dot.owl-dot.active {
      background: #ffffff; }
    .owl-project .owl-dots .owl-dot.owl-dot.active:focus {
      border: none; }
.owl-project .owl-nav {
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  margin: 0; }
  .owl-project .owl-nav .owl-prev,
  .owl-project .owl-nav .owl-next {
    position: absolute;
    width: 40px;
    height: 40px; }
    .owl-project .owl-nav .owl-prev img,
    .owl-project .owl-nav .owl-next img {
      width: 100%;
      height: 100%; }
    .owl-project .owl-nav .owl-prev:focus,
    .owl-project .owl-nav .owl-next:focus {
      border: none; }
  .owl-project .owl-nav .owl-prev {
    left: 2rem; }
  .owl-project .owl-nav .owl-next {
    right: 2rem; }

.text-filter {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  pointer-events: none;
  cursor: default; }
  .text-filter .container {
    height: 100%; }
    .text-filter .container .row {
      height: 100%; }
      .text-filter .container .row .project-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #ffffffaa;
        text-transform: uppercase; }
        .text-filter .container .row .project-name h1 {
          font-size: 80px;
          padding: 0; }
        .text-filter .container .row .project-name span {
          font-size: 20px; }
    .text-filter .container .more-info {
      position: absolute;
      bottom: 5rem;
      left: 0;
      text-align: center;
      color: #ffffffaa;
      text-transform: uppercase; }
      .text-filter .container .more-info img {
        width: 18px;
        transform: rotate(90deg);
        opacity: .7; }

.info-project {
  padding-top: 6rem;
  padding-bottom: 5rem; }
  .info-project .info {
    margin-bottom: 6rem; }
    .info-project .info p {
      color: #636363; }
    .info-project .info span {
      color: #A00D0D;
      text-transform: capitalize; }
  .info-project .galery .title {
    padding-bottom: 6rem;
    color: #A00D0D; }
  .info-project .galery .container-img {
    padding-bottom: 2rem; }
    .info-project .galery .container-img a img {
      margin-bottom: 1rem; }

.contact-proyect {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: #A00D0D;
  color: #fff; }
  .contact-proyect .title {
    margin-bottom: 2rem; }
  .contact-proyect .date p {
    margin-bottom: 2rem; }
  .contact-proyect .link a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase; }
    .contact-proyect .link a img {
      margin-left: .5rem;
      width: 10px; }

.nav-red {
  background: #A00D0D; }

.novedades-title {
  padding-top: 180px;
  padding-bottom: 60px; }
  .novedades-title .title {
    margin-bottom: 20px; }
    .novedades-title .title h1 {
      color: #A00D0D; }
    .novedades-title .title .hr-title {
      background: #A00D0D; }

.novedades .gray-content {
  background: #F5F5F5; }
.novedades .white-content {
  background: #fff;
  margin-top: 1rem;
  margin-bottom: 1rem; }
.novedades .img-novedades, .novedades .content-novedades {
  padding-left: 6rem;
  padding-right: 6rem; }
.novedades .img-novedades {
  filter: grayscale(100%); }
  .novedades .img-novedades img {
    width: 100; }
.novedades .content-novedades {
  color: #636363;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .novedades .content-novedades h5 {
    text-transform: uppercase;
    margin-bottom: 2rem; }
  .novedades .content-novedades a {
    text-align: center;
    margin-top: 2rem; }

.nav-red {
  background: #A00D0D; }

.servicios-title {
  padding-top: 180px;
  padding-bottom: 3rem; }
  .servicios-title .title {
    margin-bottom: 20px; }
    .servicios-title .title h1 {
      color: #A00D0D; }
    .servicios-title .title .hr-title {
      background: #A00D0D; }

.servicios {
  padding-bottom: 2rem; }
  .servicios .tab-col {
    position: relative; }
    .servicios .tab-col .btn-tab {
      display: flex;
      justify-content: space-between;
      padding-bottom: 2rem;
      padding-top: 2rem;
      cursor: pointer; }
      .servicios .tab-col .btn-tab .title-tab {
        width: 100%;
        display: flex;
        align-items: center; }
        .servicios .tab-col .btn-tab .title-tab img {
          width: 30px;
          max-height: 30px; }
        .servicios .tab-col .btn-tab .title-tab h5 {
          margin: 0;
          margin-left: 2rem;
          color: #A00D0D;
          text-transform: uppercase; }
      .servicios .tab-col .btn-tab .icon-tab {
        width: 10px;
        transform: rotate(90deg); }
    .servicios .tab-col .content-tab {
      padding: 2rem 4.5rem; }
      .servicios .tab-col .content-tab h6 {
        text-transform: uppercase;
        margin-bottom: 1rem; }
    .servicios .tab-col hr {
      padding-top: .1rem;
      width: 85%;
      margin: 0;
      border: 0;
      border-top: 1px solid #A00D0D;
      position: absolute;
      left: 50%;
      transform: translateX(-50%); }

.nav-red {
  background: #A00D0D; }

.contacto-title {
  padding-top: 160px;
  padding-bottom: 3rem; }
  .contacto-title .title h2 {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    color: #636363; }
    .contacto-title .title h2 span {
      font-weight: 500;
      color: #A00D0D; }
  .contacto-title .title .hr-title {
    background: #A00D0D; }
  .contacto-title img {
    width: 60%; }

.contacto {
  padding-bottom: 6rem; }
  .contacto .contact-date {
    position: relative;
    margin-bottom: 4rem; }
    .contacto .contact-date p {
      margin-bottom: 0;
      margin-left: 2rem; }
    .contacto .contact-date:before {
      content: '';
      position: absolute;
      width: 3px;
      height: 100%;
      background: #A00D0D; }
  .contacto .contact-map .title-map {
    background: #A00D0D;
    border-radius: 2px 2px 0px 0px;
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem; }
    .contacto .contact-map .title-map p {
      color: #fff;
      font-size: 20px;
      font-weight: 500;
      text-transform: uppercase;
      margin: 0; }
    .contacto .contact-map .title-map img {
      width: 24px; }
  .contacto .contact-map iframe {
    width: 100%;
    height: 350px; }
  .contacto .contact-form .form-group {
    margin-bottom: 2.5rem; }
    .contacto .contact-form .form-group input, .contacto .contact-form .form-group textarea {
      width: 100%;
      outline: none;
      padding: 0rem 1.5rem;
      padding-bottom: .5rem;
      transition: .5s;
      border-radius: 0; }
      .contacto .contact-form .form-group input::placeholder, .contacto .contact-form .form-group textarea::placeholder {
        color: #B3B3B3;
        font-weight: 300;
        transition: .5s; }
      .contacto .contact-form .form-group input::-webkit-input-placeholder, .contacto .contact-form .form-group textarea::-webkit-input-placeholder {
        color: #B3B3B3;
        font-weight: 300;
        transition: .5s; }
      .contacto .contact-form .form-group input:-ms-input-placeholder, .contacto .contact-form .form-group textarea:-ms-input-placeholder {
        color: #B3B3B3;
        font-weight: 300;
        transition: .5s; }
      .contacto .contact-form .form-group input:-moz-placeholder, .contacto .contact-form .form-group textarea:-moz-placeholder {
        color: #B3B3B3;
        font-weight: 300;
        transition: .5s; }
    .contacto .contact-form .form-group input {
      border: none;
      border-bottom: 1px solid #636363; }
    .contacto .contact-form .form-group input:focus {
      border-bottom: 2px solid #A00D0D; }
      .contacto .contact-form .form-group input:focus::-webkit-input-placeholder {
        color: rgba(160, 13, 13, 0.5);
        font-weight: 500; }
    .contacto .contact-form .form-group textarea {
      padding-top: .5rem;
      border: 1px solid #636363; }
    .contacto .contact-form .form-group textarea:focus {
      border-bottom: 3px solid #A00D0D; }
      .contacto .contact-form .form-group textarea:focus::-webkit-input-placeholder {
        color: rgba(160, 13, 13, 0.5);
        font-weight: 500; }
  .contacto .contact-form .btns {
    display: flex;
    justify-content: space-between; }
    .contacto .contact-form .btns .btn-valor {
      font-size: 18px;
      width: 45%;
      border: 1px solid #A00D0D;
      color: #A00D0D;
      border-radius: 2px;
      text-transform: uppercase;
      transition: .5s; }
      .contacto .contact-form .btns .btn-valor:hover {
        color: #fff;
        background: #A00D0D; }

@media (max-width: 1024px) {
  .equipo .item {
    padding: 0 2rem; }
  .equipo .team-text h2 {
    font-size: 22px;
    margin-bottom: 1rem; }
  .equipo .team-text .hr-title {
    background: #FFFFFF;
    margin: 1rem 0; }
  .equipo .team-text h3 {
    font-size: 18px; }
  .equipo .team-text .firma {
    max-width: 130px;
    max-height: 80px;
    margin-top: 1rem;
    margin-right: 1rem; }

  .historia .owl-historia .owl-nav {
    bottom: 20px; }
    .historia .owl-historia .owl-nav button {
      position: absolute; }
      .historia .owl-historia .owl-nav button:focus {
        outline: 0; }
      .historia .owl-historia .owl-nav button.owl-prev {
        left: 45%; }
      .historia .owl-historia .owl-nav button.owl-next {
        right: 45%; }

  .text-filter .container .row .project-name {
    padding-left: 5rem; } }
@media (max-width: 992px) {
  footer .body-footer .col-footer {
    margin-bottom: 2.5rem; } }
@media (max-width: 768px) {
  .politica .content .numeration .number {
    border-right: 0px solid #A00D0D; }

  .equipo .item {
    margin-bottom: 2rem; }
  .equipo .item-order {
    order: 2; }

  .historia .owl-historia .owl-dots button {
    margin: 0px; }

  footer .nav-footer .nav-footer-items {
    flex-direction: column;
    align-items: center; }

  .proyects-cont .item .p-title {
    padding: 2rem; }
  .proyects-cont .item .content .p-data {
    padding: 1.75rem; }
    .proyects-cont .item .content .p-data ul li {
      margin-bottom: .5rem; }

  .text-filter .container .row .project-name {
    justify-content: flex-start;
    padding-top: 15rem;
    padding-left: 5rem; }
    .text-filter .container .row .project-name h1 {
      font-size: 50px; }

  .info-project {
    padding-top: 4rem;
    padding-bottom: 3rem; }
    .info-project .info {
      margin-bottom: 4rem; }
      .info-project .info p {
        color: #636363; }
      .info-project .info span {
        color: #A00D0D;
        text-transform: capitalize; }
    .info-project .galery .title {
      padding-bottom: 4rem;
      color: #A00D0D; }
    .info-project .galery .container-img {
      padding-bottom: 2rem; }
      .info-project .galery .container-img a img {
        margin-bottom: 1rem; } }
@media (max-width: 414px) {
  h1 {
    font-size: 30px;
    letter-spacing: 2px; }

  h3 {
    font-size: 20px; }

  .row {
    margin: 0; }

  .politica {
    padding-top: 140px;
    padding-bottom: 20px; }
    .politica .title {
      margin-bottom: 10px; }
      .politica .title h1 {
        color: #A00D0D; }
    .politica .content {
      margin: 20px 0px; }
      .politica .content .hr-content {
        margin-top: 50px; }
      .politica .content .numeration {
        margin: 20px 0px; }

  .equipo .item {
    padding: 0 1rem; }

  .historia .owl-historia .item {
    text-align: center;
    font-size: 14px; }
    .historia .owl-historia .item .bubble1, .historia .owl-historia .item .bubble2 {
      display: none; }
    .historia .owl-historia .item p {
      font-size: 14px; }
  .historia .owl-historia .owl-nav {
    position: relative;
    bottom: -30px; }
    .historia .owl-historia .owl-nav button {
      position: absolute; }
      .historia .owl-historia .owl-nav button.owl-prev {
        left: 15%; }
      .historia .owl-historia .owl-nav button.owl-next {
        right: 15%; }
  .historia .owl-historia .owl-dots {
    text-align: center;
    font-weight: 500;
    padding: 0 20px;
    margin-top: 2rem; }
    .historia .owl-historia .owl-dots button {
      width: 200px;
      height: 30px;
      color: #636363;
      transition: all .5s; }

  .equipoHumano .owl-equipoHumano .owl-nav {
    bottom: 35px; }
    .equipoHumano .owl-equipoHumano .owl-nav button {
      position: absolute; }
      .equipoHumano .owl-equipoHumano .owl-nav button.owl-prev {
        left: 2%; }
      .equipoHumano .owl-equipoHumano .owl-nav button.owl-next {
        right: 2%; }
  .equipoHumano .owl-equipoHumano .owl-dots {
    text-align: center;
    font-weight: 500;
    padding: 0 20px;
    margin-top: 1rem; }

  .proyects-cont {
    padding: 0rem .25rem; }

  .text-filter .container .row .project-name {
    justify-content: flex-start;
    padding-top: 10rem;
    padding-left: 1rem; }
    .text-filter .container .row .project-name span {
      font-size: 18px; }
    .text-filter .container .row .project-name h1 {
      font-size: 40px; }

  .info-project .galery .container-img {
    padding: 0; }
    .info-project .galery .container-img a {
      padding: .5rem; }
      .info-project .galery .container-img a img {
        margin: 0; } }

/*# sourceMappingURL=style.css.map */
