@media (max-width: 1230px) {
    .novedades{
        .img-novedades, .content-novedades{
            padding-left: 6rem;
            padding-right: 6rem;
        }
        .content-novedades{
            small {
                margin-bottom: 1rem;
            }
            p {
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 1024px){
    .initial{
        #lottie{
            width: 80%;
            height: 80%;
        }
    }

    .indices{
        .content{
            img{ max-height: 70px; }
            p{ margin: 1rem 0; }
            .number{ font-size: 35px; }
        }
        .vertLine{
            &::before,&::after{ background: none; }
        }
    }

    .equipo{
        .item{ padding: 0 2rem; }
        .team-text{
            h2{
                font-size: 22px;
                margin-bottom: 1rem;
            }
            .hr-title{
                background: #FFFFFF;
                margin:1rem 0;
            }
            h3{ font-size: 18px; }
            .firma{
                max-width: 130px;
                max-height: 80px;
                margin-top: 1rem;
                margin-right: 1rem;
            }
        }
    }

    .text-filter{
        .container{
            .row{
                .project-name{ padding-left: 5rem; }
            }
        }
    }

    .novedades{
        .img-novedades{ padding:  0rem; }
        .content-novedades{ padding:  2rem; }
    }
}

@media (max-width: 992px){
    .novedades{
        .img-novedades{
            order: 1;
        }
        .content-novedades{
           order: 2;
        }
    }
    footer{
        .body-footer{
           .col-footer{ margin-bottom: 2.5rem; }
        }
    }
}


@media (max-width: 768px) {
    .initial{
        #lottie{
            width: 100%;
            height: 100%;
        }
    }
    .nav-red{ background: $red-valor; }
    header {
        .nav{
            .valor-logo{
                img{ width: 200px; }
            }
        }
    }

    .logos{
        .logo-valor{ 
            width: 240px;
            margin-bottom: 2rem;
        }
        .sombrillas{
            img{ max-height: 60px;}
        }
        .title{
            h2{ font-size: 1.3rem; }
        }
        
        .owl-logos-one, .owl-logos-two{
            .item{
                .cont-img{
                    img{ width: 140px; }
                }
            }
            .owl-nav{ bottom: 140px; }
        }
    }

    .indices{
        .content{
            padding-bottom: 3rem;
            img{ max-height: 60px; }
            p{ font-size: 16px; }
            .number{ font-size: 30px; }
        }
    }

    .equipo{
        .item{ margin-bottom: 2rem; }
        .item-order{ order: 2; }
    }

    .historia{
        .owl-nav{ bottom: 60%; }
    }

    .proyects-cont{
        .item{
            .p-title{ padding: 2rem; }
            .content{
                .p-data{
                    padding: 1.75rem;
                    ul{
                        li{ margin-bottom: .5rem; }
                    }
                }
            }
        }
    }
    
    .text-filter{
        .container{
            .row{
                .project-name{
                    justify-content: flex-start;
                    padding-top: 15rem;
                    padding-left: 5rem;
                    h1{font-size: 50px; }
                }
            }
        }
    }

    .info-project{
        padding-top: 4rem;
        padding-bottom: 3rem;
        .info{
            margin-bottom: 4rem;
            p{ color:$gray1-valor; }
            span{
                color: $red-valor;
                text-transform: capitalize;
            }
        }
        .galery{
            .title{
                padding-bottom: 4rem;
                color: $red-valor;
            }
            .container-img{
                padding-bottom: 2rem;
                a{
                    img{ margin-bottom: 1rem; }
                }
            }
        }
    }

    .novedades{
        .white-content{ 
            .img-novedades{ order: 1; }
            .content-novedades{ order: 2; }    
        }
    }

    .contacto{
        .contact-info{ order: 2; }
        .contact-form{
            order: 1;
            margin-bottom: 4rem;
        }
        .contact-form {
            form{ width: 100%;}
        }
    }

    footer{
        .body-footer{ justify-content: center; }
        .nav-footer{
            .nav-footer-items{
                flex-direction: column;
                align-items: center;
            }
        }
    }
}

@media (max-width: 450px) {
    h1{
        font-size: 30px;
        letter-spacing: 2px;
    }
    h3{ font-size: 20px; }

    .row{ margin: 0; }

    header{
        .nav{ padding: 0 20px;}
    }

    .quienes-somos{
        padding-top: 140px;
        padding-bottom: 20px;
        height: auto;
        .title{
            margin-bottom: 10px;
            h1{ color: $red-valor; }
        }
        .texto-quienes{ margin-bottom: 1rem; }
        .content{
            margin: 20px 0px;
            .hr-content{ margin-top:50px; }
            .numeration{ margin: 20px 0px; }
        }
    }
    
    .logos{
        .logo-valor{ 
            width: 240px;
            margin-bottom: 2rem;
        }
        .sombrillas{
            img{ max-height: 50px; }
        }
        .title{
            h2{ font-size: 1.3rem; }
        }
        
        .owl-logos-one, .owl-logos-two{
            .item{
                .cont-img{
                    img{ width: 150px; }
                }
            }
            .owl-nav{ bottom: 300px; }
        }
    }
    
    .equipo{
        .item{ padding:0 1rem; }
    }

    .historia{
        .owl-nav{
            bottom: 65%;
            padding: 0 10px;
            .owl-prev, .owl-next{  
                span{ font-size: 50px; }
            }
        }
    }

    .proyects-cont{ padding: 0rem .25rem; }

    .text-filter{
        .container{
            .row{
                .project-name{
                    justify-content: flex-start;
                    padding-top: 10rem;
                    padding-left: 1rem;
                    span{ font-size: 18px; }
                    h1{ font-size: 40px; }
                }
            }
        }
    }

    .info-project{
        .galery{
            .container-img{
                padding: 0;
                a{
                    padding: .5rem;
                    img{ margin:0; }
                }
            }
        }
    }

    .novedades{
        padding: 0;
        .content-novedades{ padding: 1rem; }
    }

    .servicios{
        .tab-col{
            padding: 0;
            .btn-tab{
                .icon-tab{ width: 8px; }
            }
            .content-tab{
                padding: 1rem;
                h6{
                    text-transform: uppercase;
                    margin-bottom: 1rem;
                }
            }
        }
    }

    footer{
        padding-top: 2rem;
        .body-footer {
            .col-footer {
                margin-bottom: 1rem;
                .content-footer {
                    .sub-footer { margin-bottom: 1rem; }
                }
            } 
        } 
        .nav-footer{ padding: 0; }
        .powered{ 
            p{ font-size: 14px; }
        }
    }
}
